In [1]:
from bert import Ner
model = Ner("out_ner/")

In [2]:
import pandas as pd
transcripts = pd.read_csv("./data/transcript.csv")
transcripts = transcripts[["Interview ID", "human_transcript"]]
transcripts = transcripts.dropna()
transcripts.head()

   Interview ID                                   human_transcript
9     MBY005779  LOUISA SANCHEZ: [00:00:00] My name is Luisa Sa...
16    MBY005843  Cynthia Lee Anschutz Stenicka:\t[00:00:00] My ...
17    MBY005844  Denise Ricks: [00:00:00] Okay. I'm Denise Rick...
22    MBY005884  Heidi Christine Johnson: [00:00:00] Hi. My nam...
23    MBY005906  Sarah Culver: [00:00:00] Hi. Good morning. My ...

In [3]:
from nltk import tokenize
values = []
for index, row in transcripts.iterrows():
    sentences = tokenize.sent_tokenize(row['human_transcript'])
    start_idx = 0
    for sentence in sentences:
        predictions = model.predict(sentence, start_idx)
        start_idx += len(sentence)
        if  predictions:
            for prediction in predictions:
                values.append([row['Interview ID'], prediction[2], prediction[0], prediction[1]])

In [4]:
column_names = ["interview_id,", "word_idx", "word", "label"]
df = pd.DataFrame(values, columns = column_names)
df.head()

  interview_id,  word_idx      word  label
0     MBY005779         0    LOUISA  B-LOC
1     MBY005779         1   SANCHEZ  I-LOC
2     MBY005779         9     Luisa  B-PER
3     MBY005779        10   Sanchez  I-PER
4     MBY005779       107  Colorado  B-LOC

In [5]:
df.to_csv('ner_output.csv')